body{
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3,200px);
  row-gap: 10px;
  column-gap: 10px;
  grid-template-areas: "numero1 . numero3"
  "numero1 numero2 numero3"
  ". numero2 .";

}

.amarillo{
grid-area:numero1;
background-color: yellow;
  
}

.lima{
  background-color: limegreen;
  grid-area:numero2;
}

.morado{
  background-color: purple;
  grid-area:numero3;
}


