body{
  display: grid;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  grid-template-columns: 150px repeat(4,1fr); 
  grid-template-rows: 150px 1fr 1fr 50px;
  grid-template-areas: "menu header header header header"
  "menu contenedor contenedor contenedor contenedor"
  "menu contenedor contenedor contenedor contenedor"
  "menu contenedor contenedor contenedor contenedor";
  gap: 20px 0px;
}

.contenedor{
  grid-area: contenedor;
  background-color: cornsilk;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "main main main main"
  "main main main main"
  "footer footer footer footer";
  
}

.main{
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "art1 art2 foto1 foto1"
  "art1 art2 foto2 foto2";
  margin-bottom: 20px;
}

footer{
  grid-area:footer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "foot1 foot1 foot2 foot2";
  
}
.articulo1{
  grid-area:art1;
  background-color: antiquewhite;
}
.articulo2{
  grid-area:art2;
  background-color: rgb(83, 72, 58);
}
#foto1{
  grid-area: foto1;
  background-color: rgb(202, 131, 37);
}
#foto2{
  grid-area: foto2;
  background-color: rgb(87, 55, 13);
}

.menu{
  grid-area:menu;
  border-right: 1px solid black;
  background-color: rgb(175, 175, 132);
}

header{
  grid-area: header;
  border-bottom: 1px solid black;
  background-color: bisque;
}

.foot{
  grid-area: foot1;
  background-color: blueviolet;
}

.foot2{
  grid-area: foot2;
  background-color: purple;
  
}


@media All and (max-width:580px ){

  body{
  height: 100vh;
  display: grid;
  padding: 0px;
  margin: 0px;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 10% 10% 40% 10% 10% ;
  grid-template-areas: "header header"
  "menu menu"
  "contenedor contenedor"
  "contenedor contenedor"
  "contenedor contenedor";
  gap: 0px 0px;
}

.contenedor{
  height: 100%;
  grid-area: contenedor;
  background-color: cornsilk;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "main main"
  "main main"
  "footer footer";
  
}

.main{
  height: 100%;
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "art1 art2"
  "foto1 foto2";
  margin-bottom: 0px;
  
}

footer{
  height: 100%;
  grid-area:footer;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr;
  grid-template-areas: "foot1 foot2";
  
}


}